.topbar {
  width: 100%;
  padding: 16px 16px 24px 16px;

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__mini-task {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-right: 12px;
  }
  &__btn {
    margin-left: 4px;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
}
