.form-content {
  &__task-description {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  &__column {
    width: 100%;
    margin: 0 8px;
  }
  &__task-input {
    margin-bottom: 16px;
    width: 100%;
  }
  &__task-select {
    margin-bottom: 16px;
    width: 100%;
  }
  &__comments {
    margin: 0 8px;
  }
  &__coordinating {
    margin: 0 8px;
  }
  &__date {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 8px;
    :first-child {
      margin-right: 16px;
    }
  }
  &__creator {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 4px;
    :first-child {
      margin-right: 4px;
    }
    :last-child {
      margin-left: 4px;
    }
  }
}
.form-content__task-input--necessary:before {
  content: "*";
  position: relative;
  top: 0;
  font-size: 13px;
  color: #b21f00;
  margin-right: 4px;
  font-weight: 600;
}
