.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  height: 100vh;
  max-width: 336px;
  &__hide-panel {
    width: 56px;
    height: 100vh;
    border-right: 1px solid #d5d8dd;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  &__main-panel {
    height: 100vh;
    border-right: 1px solid #d5d8dd;
    // transition: display 2s 1s;
  }
  &__search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d5d8dd;
    padding: 16px;
  }
  &__search {
    min-width: 208px;
  }
  &__btn-pin {
    margin-left: 8px;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    &__hide-panel {
      width: 32px;
      height: 50px;
      border-right: none;
      margin-left: 8px;
    }
    &__btn {
      img {
        width: 20px;
        height: 20px;
      }
    }
    &__main-panel {
      position: absolute;
      top: 56px;
      left: 0;
      background-color: #fff;
      z-index: 200;
    }
  }
}
