.form {
  &__topbar {
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    margin: 0 8px 24px 8px;
  }
}

.form__topbar--sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
