.input {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  padding: 6px 8px;
  border: 1px solid #d5d8dd;
  &__inner {
    font-size: 14px;
    min-width: 260px;
    margin-right: 4px;
  }
}

.input::placeholder {
  color: #abb1ba;
  font-size: 14px;
}
